<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title> <!-- Dynamically set the title -->
    
    <!-- Meta Tags -->
    <meta name="description" content="{{ meta.description }}">
    <meta name="author" content="{{ meta.author }}">
    <meta name="keywords" content="{{ meta.keywords }}">

    <!-- Favicon -->
    <link rel="icon" href="{{ meta.favicon }}" type="image/x-icon">
    
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body class="bg-gray-100 p-8">
    <div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6">
        <!-- Block for content -->
        {% block content %}{% endblock %}
    </div>

    <!-- Custom Scripts -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
